body{
  overflow: hidden; 
}

.holder{
  position: absolute;
  top: 50%;
  left: 38%;
  transform: translate(0, -50%);
}

.holder__list{
  width: 100%;  
  @include list-style;
  display: flex;
  align-items: center;
  position: relative;
  transition: all 0.3s ease;
}

.holder__item{
  width: 132px;
  height: 234px;
  border-radius: 12px;
  position: relative;
  transition: all 0.3s ease;
  overflow: hidden;

  &:not(:last-child){
    margin-right: 80px;
  }

  &.active{
    height: 584.64px;
    width: 328.86px;
    filter: blur(0);

    .not-show-anything{
      display: none;
    }
  }
}

.not-show-anything{
  display: inline-block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  filter: brightness(50%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 10000;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
}

.not-show-img{
  border-radius: 12px;
  img{
    border-radius: 50%;
  }
}

.overflow-not-show{
  height: 100%;
  overflow-x: hidden;
}

.holder__bio-img-holder{
  height: 100%;
  width: 100%;
  border-radius: 12px;
  display: flex;
  transition: all 0.3s ease;

  img{
    width: 100%;
    height: 100%;
    border-radius: 12px;
    object-fit: cover;
  }
}

.holder__btn{
  width: 100%;
  height: 100%;
  padding: 20px;
  position: absolute;
  border-radius: 12px;
  border: none;
  top: 0;
  left: 0;
  background-color: none;
}

.holder__line{
  width: 93%;
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.holder__real-line{
  width: 100%;
  height: 2px;
  background-color: #8a8891;
  display: inline-block;
  border-radius: 10px;
  transition: all 0.3s linear;
  position: relative;

  &:not(:last-child){
    margin-right: 8px;
  }
}

.white-it{
  width: 0;
  height: 2px;
  background-color: #fff;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.3s linear;
}

.color-it{
  animation: white-it 5s linear both;
}

@keyframes white-it {
  0%{
    width: 0;
  }

  100%{
    width: 100%;;
  }
}

.holder__info{
  margin-top: 15px;
  display: flex;
  flex-direction: column;
}

.holder__img-holder{
  width: 30px;
  height: 30px;
  margin-right: 10px;

  img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
}

.holder__real-name{
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.holder__time{
  color: #ccc;
}

.holder__inner-list{
  @include list-style;
}

.holder__inner-item{
  &:not(:first-child){
    margin-left: 10px;
  }
}

.holder__inner-btn{
  border: none;
  background-color: transparent;
  font-size: 20px;
  color: #fff;
}

.holder__text{
  border: 1px solid #fff;
  background-color: transparent;
  border-radius: 12px;
  padding: 10px;
  color: #fff;
  width: 75%;

  &::placeholder{
    color: #fff;
  }

  &:focus{
    outline: none;
  }
}

.holder__send{
  border: none;
  background-color: transparent;
  color: #fff;
  font-size: 25px;
}

.holder__input{
  width: 100%;
  position: absolute;
  left: 20px;
  bottom: 20px;
}

.arrow-btns{
  display: none;
}

.arrow-btn{
  width: 30px;
  height: 30px;
  border: none;
  background-color: #525252;
  border-radius: 50%;
  color: #191919;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;

  &:hover{
    background-color: #bbb;
  }
}

.left{
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
}

.right{
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}


